<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 1.1rem;
    line-height: 24px;
  }
</style>


<div class="message-content">
  <p>Hi {{name}}!</p>
  <br>
  <p>Reset password request successfully</p>
  <p>If this was you, please click the link below to reset your password</p>
  <p><a href={{link}}>Reset my password</a></p>
  <p>In case you didn't requested this, please delete this email</p>
  <br>
  <p>Thank you!</p>
  <p>Sales API</p>
</div>
